---
import { Image } from 'astro:assets';
import Layout from '../../layouts/base.astro';
import Block from '../../components/block.astro';
import { fetchProject } from '../../data/projects';
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import { faChevronLeft } from '@fortawesome/pro-regular-svg-icons';

const { id } = Astro.params;
const data: any = await fetchProject(id as string);
---

<Layout title="Stefan's Corner - Projects">
    <main class="row-span-6 relative">
        <div class="flex flex-col w-full items-center">
            <div class="flex flex-row p-8 w-full">
                <a href="/projects" class="text-sm transition-colors duration-300 hover:text-dark-red">
                    <FontAwesomeIcon icon={faChevronLeft} client:idle />
                    <span>Back to Projects page</span>
                </a>
            </div>
            <div class="flex flex-row w-full justify-center pt-16 pb-8">
                <Image
                    src={`${import.meta.env.PUBLIC_DIRECTUS_URL}/assets/${data.panelimg.id}`}
                    width={data.panelimg.width}
                    height={data.panelimg.height}
                    alt={data.panelimg.caption ?? ''}
                    class="aspect-auto overflow-hidden rounded-2xl w-4/5 h-4/5 md:w-1/3 md:h-1/3" />
            </div>
            <div class="flex flex-row w-full justify-center">
                <h1 class="font-bold text-5xl md:text-6xl py-10">{data.name}</h1>
            </div>
            <Block widthClass="w-4/5 md:w-3/5" blocks={data.content.blocks} />
        </div>
    </main>
</Layout>